:root {
  /* fonts */
  --font-primary: 'Roboto', sans-serif;

  /* colors */
  --clr-dark: #030712;

  --clr-white: hsl(0, 0%, 100%);

  --clr-darkslategrey: hsl(234, 29%, 20%);

  --clr-tamato: hsl(4, 100%, 67%);

  --clr-charcoalgrey: hsl(235, 18%, 26%);

  --clr-grey: hsl(231, 7%, 60%);

  /* sizes */

  --size-xxs: 0.5rem;
  --size-xs: 0.75rem;
  --size-sm: 0.85rem;
  --size-base: 1rem;
  --size-lg: 1.125rem;
  --size-xl: 1.25rem;
  --size-2xl: 1.5rem;
  --size-3xl: 1.875rem;
  --size-4xl: 2.25rem;
  --size-5xl: 3rem;
  --size-6xl: 3.75rem;
  --size-7xl: 4.5rem;
  --size-8xl: 6rem;
  --size-9xl: 8rem;
  --size-10xl: 10rem;
}

* {
  margin: 0;
  padding: 0;
  line-height: calc(1em + 0.5rem);
}
body {
  font-family: var(--font-primary);
  background-color: var(--clr-white);
  color: var(--clr-dark);
}

button {
  border: none;
  background: none;
  color: inherit;
  cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  letter-spacing: -0.025em;
}

p {
  font-size: var(--size-xxs);
}

strong {
  color: var(--clr-light);
  font-weight: 900;
}

input:-webkit-autofill {
  background-color: white !important;
  -webkit-box-shadow: 0 0 0px 1000px white inset !important;
  box-shadow: 0 0 0px 1000px white inset !important;
  color: black !important;
}
